/*Historinhas*/
.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #fff;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}

.slider {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 8rem;
}

.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}

.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 45%;
  width: 45%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 0.6666666667;
    min-width: calc((100% / 2) - 2rem);
  }
}

@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
img.slider__image {
  transition: transform 0.5s;
}

img.slider__image:hover {
  transform: scale(1.1);
}

.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}

.slider__info h2 {
  color: #fff;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}

.slider__nav {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}

.slider__nav__button {
  margin: 0;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  background: rgb(255, 255, 255);
  color: #203239;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}

.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.container {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  background: rgb(247, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.459);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  width: 100%;
}

.container:hover > :not(:hover) {
  opacity: 0.2;
}

.title {
  color: #000;
  width: 100%;
  display: inline-block;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 1rem auto;
}


/*Áudio*/ 
.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px;
  background-color: #000000;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.player-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.song-info {
  margin-bottom: 4px;
}

.song-title {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.artist {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #ddd;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #ff5500;
  animation: progress-animation 10s linear infinite;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btn,
.pause-btn,
.skip-btn,
.volume-btn {
  font-size: 16px;
  color: #666;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.play-btn:hover,
.pause-btn:hover,
.skip-btn:hover,
.volume-btn:hover {
  transform: scale(1.2);
}

.volume-slider {
  width: 100px;
  height: 5px;
  background-color: #ccc;
  position: relative;
  margin-left: 10px;
}

.volume-slider-bar {
  height: 100%;
  background-color: #666;
}

.volume-slider-handle {
  width: 16px;
  height: 16px;
  background-color: #666;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
